<!DOCTYPE HTML>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mundial 2018</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>

<div class="container">

    <div class="jumbotron" style="text-align: center">
        <h1 class="display-3" style="margin-bottom: 50px">Typuj</h1>

        <form th:action="@{/mundial}" th:object="${newTyper}" method="post">
            <input type="hidden" th:value="${typerId}" th:attr="name='typerId'"/>

            <div class="row justify-content-center">
                <table>
                    <div class="col-3 center">
                        <ol>Nickname
                            <input type="text" class="form-control" th:field="*{preparingTyper.nickname}"/>
                        </ol>
                        <ol>Email
                            <input type="email" class="form-control is-invalid" th:field="*{preparingTyper.email}"/>
                        </ol>

                        <div>
                            <label>Mecz nr 1</label>
                            <ol>Drużyna A
                                <input type="number" min="0" max="9" class="form-control" th:field="*{match1.scoreTeamA}"/>
                            </ol>
                            <ol>Drużyna B
                                <input type="number" min="0" max="9" class="form-control" th:field="*{match1.scoreTeamB}"/>
                            </ol>
                        </div>
                        <div>
                            <label>Mecz nr 2</label>
                            <ol>Drużyna A
                                <input type="number" min="0" max="9" class="form-control" th:field="*{match2.scoreTeamA}"/>
                            </ol>
                            <ol>Drużyna B
                                <input type="number" min="0" max="9" class="form-control" th:field="*{match2.scoreTeamB}"/>
                            </ol>
                        </div>
                        <b>Mecz nr 3</b>
                        <ol>Drużyna A
                            <input type="number" min="0" max="9" class="form-control" th:field="*{match3.scoreTeamA}"/>
                        </ol>
                        <ol>Drużyna B
                            <input type="number" min="0" max="9" class="form-control" th:field="*{match3.scoreTeamB}"/>
                        </ol>

                    </div>
                </table>
                <button type="submit" class="btn btn-success btn-lg btn-block">Zatwiedź</button>

                <!--  <div class="form-group row">
                      <label class="col-sm-2 col-form-label col-form-label-lg">Nickname</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" th:field="*{nickname}"/>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                      <div class="col-sm-10">
                          <input type="email" class="form-control is-invalid" th:field="*{email}"/>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col align-self-center">
                          <div class="col-sm-4">
                              <button type="submit" class="btn btn-success btn-lg btn-block">Zatwiedź i przejdź do
                                  typowania
                              </button>
                          </div>
                      </div>
                  </div>-->
            </div>
        </form>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>