<!DOCTYPE HTML>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mundial 2018</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>

<div class="container">
    <div id="topBar">
        <b>Drabinka turniejowa / Mundial 2018</b>
    </div>

    <div class="row">
        <div class="col">
            <form>
                <div class="form-group" id="bar18">
                    <b>1/8</b>
                </div>
                <div class="form-group">
                    <label style="background-color: blue">Urugwaj1</label>
                    <label>Portugalia1</label>
                </div>
                <div class="form-group">
                    <label>Another label1</label>
                    <label>Another label1</label>
                </div>
            </form>
            <form>
                <div class="form-group">
                    <label>chiny1</label>
                    <label>Portugalia1</label>
                </div>
                <div class="form-group">
                    <label>Another label1</label>
                    <label>Another label1</label>
                </div>
            </form>
        </div>

        <div class="col">
            <form>
                <div class="form-group" id="cwiercfinal">
                    <b>Cwierćfinal</b>
                </div>
                <div class="form-group">
                    <label>Urugwaj2</label>
                    <label>Portugalia2</label>
                </div>
                <div class="form-group">
                    <label>Another labe2</label>
                    <label>Another labe2</label>
                </div>
            </form>

        </div>

        <div class="col">
            <form>
                <div class="form-group" id="polfinal">
                    <b>Półfinał</b>
                </div>
                <div class="form-group">
                    <label>Urugwaj3</label>
                    <label>Portugalia3</label>
                </div>
                <div class="form-group">
                    <label>Another label3</label>
                    <label>Another label3</label>
                </div>
            </form>

        </div>

        <div class="col">
            <form>
                <div class="form-group" id="final">
                    <b>Finał</b>
                </div>
                <div class="form-group">
                    <label>Urugwaj4</label>
                    <label>Portugalia4</label>
                </div>
                <div class="form-group">
                    <label>Another label4</label>
                    <label>Another label4</label>
                </div>
            </form>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>