<!DOCTYPE HTML>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mundial 2018</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>

<div class="container">
    <div id="topBar">
        <b>Drabinka turniejowa / Mundial 2018</b><br/><br/>
        <span th:text="'Witaj ' + ${typer.nickname}"></span>
    </div>

    <form th:action="@{/mundial}" method="post">
        <div class="row">
            <div class="col">
                <form>
                    <div class="form-group" id="bar18">
                        <b>1/8</b>
                    </div>
                    <div class="form-group"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 20px; border: black solid 1px"
                         th:object="${match1}">
                        <ol>Urugwaj</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Portugalia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 20px; border: black solid 1px"
                         th:object="${match2}">
                        <ol>Francja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Argentyna</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 20px; border: black solid 1px"
                         th:object="${match3}">
                        <ol>Brazylia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Meksyk</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 20px; border: black solid 1px"
                         th:object="${match4}">
                        <ol>Belgia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Japonia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 20px; border: black solid 1px"
                         th:object="${match5}">
                        <ol>Hiszpania</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Rosja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 20px; border: black solid 1px"
                         th:object="${match6}">
                        <ol>Chorwacja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Dania</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 20px; border: black solid 1px"
                         th:object="${match7}">
                        <ol>Szwecja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Szwajcaria</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 20px; border: black solid 1px"
                         th:object="${match8}">
                        <ol>Kolumbia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Anglia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                </form>
            </div>

            <div class="col">
                <form>
                    <div class="form-group" id="cwiercfinal">
                        <b>Cwiercfinal</b>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px;margin-top: 120px; margin-bottom: 220px; border: black solid 1px"
                         th:object="${match9}">
                        <ol>Urugwaj</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Francja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 220px; border: black solid 1px"
                         th:object="${match10}">
                        <ol>Brazylia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Belgia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 220px; border: black solid 1px"
                         th:object="${match11}">
                        <ol>Rosja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Chorwacja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 20px; border: black solid 1px"
                         th:object="${match12}">
                        <ol>Szwecja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Anglia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                </form>
            </div>

            <div class="col">
                <form>
                    <div class="form-group" id="polfinal">
                        <b>Półfinal</b>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px;margin-top: 320px; margin-bottom: 620px; border: black solid 1px"
                         th:object="${match13}">
                        <ol>Fracja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Belgia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: aliceblue; padding: 20px; margin-bottom: 20px; border: black solid 1px"
                         th:object="${match14}">
                        <ol>Chorwacja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Anglia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                </form>
            </div>
            <div class="col">
                <form>
                    <div class="form-group" id="final">
                        <b>Finały</b>
                    </div>
                    <div class="kraje"
                         style="background-color: goldenrod; padding: 20px; margin-bottom: 20px; border: black solid 1px"
                         th:object="${match15}">
                        <b>3 Miejsce</b>
                        <ol>Belgia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Anglia</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
                    <div class="kraje"
                         style="background-color: gold; padding: 20px; margin-top: 520px; border: black solid 1px"
                         th:object="${match16}">
                        <ol>Francja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamA}"/>
                        <ol>Chorwacja</ol>
                        <input type="number" min="0" max="9" th:field="*{scoreTeamB}"/>
                    </div>
        <div class="row">

            <div class="col" style="margin-bottom: 100px">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Zatwiedź typowanie</button>
            </div>

        </div>
                </form>
            </div>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>